
.contracts-header th{
    text-align: center;
    color: white !important;
}
.contracts-container tr{
    display: flex;
    gap: 5px;
    padding: 2px;
}

.contracts-container td{
    border-radius: 5px;
    padding: 5px;
    background-color: lightblue;
}
.contracts-actual{
    overflow: hidden;
    padding:5px 10px;
    border-radius: 10px;
    background: white;
    position: relative;
}
.contracts-actual-data{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background: lightgreen;
    color: black;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
}
.contracts-input{
    display: block;
    margin: auto;
    width: 95%;
    outline: none;
    border: none;
}
.contracts-actual-data.filled{
    display: flex;
}
.contracts-actual-data span{
    margin-left: 10px;
}
.contracts-actual-data .closeBtn{
    margin-right: 10px;
}