.pop-up-buttons {
  width: 50%;
  background-color: rgb(176, 164, 164);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: -34px;
  z-index: 999;
  right: 0;
}
.pop-up-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  color: #000;
}
.pop-up-content {
  width: 600px;
  min-height:24px;
  border-radius: 0 0px 10px 0px;
  background-color: rgb(176, 164, 164) !important;
  color: #000;
}
