
.pop-up-buttons{
    width: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:10px 10px 0 0;
}
.pop-up-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}
.pop-up-content{
    width: 600px;
    height: max-content;
    border-radius:0 10px 10px 10px;
    background-color: lightgray;
}
.pop-up{
    background: lightcoral;
}
.keywords{
    position: absolute;
    left: -175px;
    top: -18px;
    display: flex;
    align-items: center;
    background: lightgray;
    height: 35px;
    width: 300px;
    border-radius:10px;
    padding: 5px;
}
.keywords .keywords-input{
    height: 25px;
    width: 300px;
}
.keywords .keywords-closeBtn{
    cursor: pointer;
    position: absolute;
    right: 5px;
}
.keywords img{
    position: absolute;
    left: 10px;
}
