
.search input{
background-color: white;
padding: 5px;
border-radius: 10px;
background: rgba(211, 211, 211, 0.603);
}
.css-q0jhri-MuiInputBase-root-MuiInput-root:before {
  display: none;
  }
  .search input::placeholder {
    color: teal;
  }


  .navlink button:hover span{
    border: 1px solid teal !important;
  }
  .navlink a{
    text-decoration: none;
  }
