
.search input{
background-color: white;
padding: 5px;
}
.css-q0jhri-MuiInputBase-root-MuiInput-root:before {
  display: none;
  }
input::placeholder {
    color: teal;
  }


  .navlink button:hover span{
    border: 1px solid teal !important;
  }
