
input::placeholder {
    color: teal;
    opacity: 1; 
  }

  .navLink a:hover{
  }
  .navlink button:hover span{
    border: 1px solid teal !important;

  }
  .profile-pic{
    margin-right: 10px;
  }