body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    width: 85px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(211, 211, 211, 0.315);
    transition: 0.5s;
    white-space: nowrap;
  }
  .sidebarItems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }



  .sidebar.active{
    width: 250px;
  }
  .sidebar:hover{
    width:250px;
    transition: all 0.3s ease;
  }
  .sidebar .sidebarItem.active span{
    display: block;
  }
  .sidebar:hover .sidebarItem span{
    display: inline-block;
  }
  .sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: teal;
    display: block;
    list-style: none;
    margin-top: 5px;
  }

  .sidebar a:hover,.link.active {
  background-color: lightgray ;

 }

  .sidebarItem{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20px;
  }

  .sidebarItem span{
    display: none; 
 }
 
  .material-icons,
  .icon-text {
    vertical-align: middle;
  }


  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
 
  span.active{
    font-weight:600;
  }
/* keyword */
.search-input {
  font-size: 14px;
  width: 200px;
  padding: 5px;
  transition: all 0.5s ease;
  position: absolute;
  left: 10px;
  right: 10px;
  box-sizing: border-box;
  opacity: 0;
  outline: none;
  border: none;
  height: 25px;
}

.search-expanded {
  width: 100%;
  opacity: 1;
  padding-left: 30px;
}
.keyword-icon{
  z-index: 66;
}
/* .closeBtn{
  z-index: 99;
  position: absolute;
  right: 0;
  visibility: visible;
}
.close-hidden{
  visibility: visible;
} */
.keyword-title{
  display: none !important;
}
.nav-keyword{
  width: 200px;
  background: lightgray;
}
.nav-keyword.selected{
  width: 600px;
  background: lightgray;
}
.keywordOpen{
  width: 95%;
  position: relative;
  background: lightgray;

}
.nav-keyword-container{
  height: 30px;
}
.nav-keyword .keywordOpen{
  /* background: white; */
  /* height: 25px; */
  /* padding: 3px; */
  border-radius: 5px;
}
