
table.import-cv-table-container  {
    border-collapse: collapse;
  }

  .import-cv-table-container thead,.import-cv-table-container tbody{
    border: 1px solid lightgray;
}
th.table-header{
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
}
.import-cv-table-container td{
    padding: 5px;
}
.edit{
    color: #0077b5 ;
}
.removeBtn{
    cursor: pointer;
}
